/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: red;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
  gap: 30px;
  padding: 30px;
}

.grid-header {
  grid-area: header;
}

.grid-main {
  grid-area: main;
}

.grid-footer {
  grid-area: footer;
}
